.card.text-white.bg-info
  .card-header
    .card-title 
      %h3 
        #{@type.titleize} Tasks
        %small
          -%w(incomplete completed).each do |type|
            -next if type == @type 
            %small
              =link_to type.titleize, rules_tasks_path(type: type)
  .card-body.text-dark.bg-white
    -if @tasks.blank?
      .alert.alert-warning
        You have no #{@type.titleize} tasks
    -else
      = paginate @tasks
      %table.table.table-sm.table-bordered
        %thead
          %tr.small
            %th Assigned To
            %th Title
            %th Description
            %th Priority
            %th Due Date
            %th Completed At
            %th
        %tbody
          -@tasks.each do |t|
            %tr.task{data: {id: t.id }}
              %td=t.user.email
              %td
                -link_path = contextual_task_link(t)
                -if link_path.nil?
                  =t.title
                -else 
                  =link_to t.title, link_path
              %td=t.description
              %td=t.priority
              %td=t.due_date
              %td
                .completed
                  =task_completed(t)
              %td
                = link_to "Delete", t, method: :delete, data: { confirm: "Are you sure you want to delete this task?" }, class: "btn btn-danger btn-sm"

