$color-primary:         #60AACE;
$color-primary-light:   #6CBFE8;
$color-success:         #8DC068;
$color-success-light:   #96CC6F;
$color-warning:         #E9C33A;
$color-warning-light:   #E9C33A;
$color-danger:          #C45E60;
$color-danger-light:    #DE6A6D;
$color-default:         #F4F4F4;
$color-default-light:   #DBDBDB;
$color-info:            red;
$color-info-light:      light-red;