-content_for :title, t("import_rule") 

.row
  .col-md-6
    %h2=t("import_new_rules")
    =simple_form_for :import do |f|
      =f.input :data, as: :text, label: false, placeholder: t("paste_your_YAML_in_here"), input_html: { style: "height:500px;"}
      =f.input_field :override_by_name, as: :boolean, value: "1"
      %b Reimport Existing Rule(s)
      %br
      =f.submit
  .col-md-6
    %h2 
      Examples
      %small=link_to t("export_all"), export_rules_rules_path
    -Rules::Rule.where(_deleted: false).order("u_at DESC").limit(5).each do |r|
      %div
        =link_to r.name, r
        %pre
          = r.export.to_yaml
